In [24]:
import pandas as pd

drink_not = pd.read_excel('/Users/seuli/Downloads/stat_423801.xls', skiprows=2,encoding = "cp949")
drinks = drink_not.drop([15,16,17,18], axis = 0 )
print(drinks)

   Unnamed: 0 Unnamed: 1  2013  2014  2015  2016  2017  2018
0         NaN         전체  37.4  37.5  38.7  39.3  39.0  38.9
1          남자         전체  53.2  53.1  54.2  53.5  52.7  50.8
2         NaN     19-29세  56.2  56.8  58.7  53.5  54.8  46.8
3         NaN     30-39세  59.4  60.8  64.1  62.8  57.9  55.9
4         NaN     40-49세  59.3  56.2  56.5  58.5  59.1  59.3
5         NaN     50-59세  54.5  52.4  51.3  53.0  52.5  51.5
6         NaN     60-69세  41.1  39.7  42.0  42.3  43.3  47.0
7         NaN     70세 이상  19.0  26.4  22.2  23.9  23.0  23.9
8          여자         전체  21.9  22.5  23.3  25.0  25.0  26.9
9         NaN     19-29세  37.2  39.5  37.0  45.7  45.9  49.8
10        NaN     30-39세  26.5  24.2  25.1  27.1  26.0  27.1
11        NaN     40-49세  18.5  21.8  23.6  23.0  22.8  26.0
12        NaN     50-59세  16.5  15.3  17.3  16.5  16.2  17.9
13        NaN     60-69세   6.2   6.1  10.0   7.4   9.6   8.5
14        NaN     70세 이상   2.0   2.7   3.4   1.0   2.0   1.0

In [52]:
male = drinks[2:8].fillna('남자')
female = drinks[9:].fillna('여자')
# drink.ffill(axis=0)

In [53]:
drink = pd.concat([male, female])
print(drink)

   Unnamed: 0 Unnamed: 1  2013  2014  2015  2016  2017  2018
2          남자     19-29세  56.2  56.8  58.7  53.5  54.8  46.8
3          남자     30-39세  59.4  60.8  64.1  62.8  57.9  55.9
4          남자     40-49세  59.3  56.2  56.5  58.5  59.1  59.3
5          남자     50-59세  54.5  52.4  51.3  53.0  52.5  51.5
6          남자     60-69세  41.1  39.7  42.0  42.3  43.3  47.0
7          남자     70세 이상  19.0  26.4  22.2  23.9  23.0  23.9
9          여자     19-29세  37.2  39.5  37.0  45.7  45.9  49.8
10         여자     30-39세  26.5  24.2  25.1  27.1  26.0  27.1
11         여자     40-49세  18.5  21.8  23.6  23.0  22.8  26.0
12         여자     50-59세  16.5  15.3  17.3  16.5  16.2  17.9
13         여자     60-69세   6.2   6.1  10.0   7.4   9.6   8.5
14         여자     70세 이상   2.0   2.7   3.4   1.0   2.0   1.0

In [41]:
drink.columns = ['성별','연령대','2013','2014','2015','2016','2017','2018']
print(drink)

    성별     연령대  2013  2014  2015  2016  2017  2018
2   남자  19-29세  56.2  56.8  58.7  53.5  54.8  46.8
3   남자  30-39세  59.4  60.8  64.1  62.8  57.9  55.9
4   남자  40-49세  59.3  56.2  56.5  58.5  59.1  59.3
5   남자  50-59세  54.5  52.4  51.3  53.0  52.5  51.5
6   남자  60-69세  41.1  39.7  42.0  42.3  43.3  47.0
7   남자  70세 이상  19.0  26.4  22.2  23.9  23.0  23.9
9   여자  19-29세  37.2  39.5  37.0  45.7  45.9  49.8
10  여자  30-39세  26.5  24.2  25.1  27.1  26.0  27.1
11  여자  40-49세  18.5  21.8  23.6  23.0  22.8  26.0
12  여자  50-59세  16.5  15.3  17.3  16.5  16.2  17.9
13  여자  60-69세   6.2   6.1  10.0   7.4   9.6   8.5
14  여자  70세 이상   2.0   2.7   3.4   1.0   2.0   1.0

In [49]:
drink_1 = pd.melt(drink, id_vars=['성별', '연령대'], var_name='연도', value_name='폭음률(%)')
drink_1

    성별     연령대    연도  폭음률(%)
0   남자  19-29세  2013    56.2
1   남자  30-39세  2013    59.4
2   남자  40-49세  2013    59.3
3   남자  50-59세  2013    54.5
4   남자  60-69세  2013    41.1
5   남자  70세 이상  2013    19.0
6   여자  19-29세  2013    37.2
7   여자  30-39세  2013    26.5
8   여자  40-49세  2013    18.5
9   여자  50-59세  2013    16.5
10  여자  60-69세  2013     6.2
11  여자  70세 이상  2013     2.0
12  남자  19-29세  2014    56.8
13  남자  30-39세  2014    60.8
14  남자  40-49세  2014    56.2
15  남자  50-59세  2014    52.4
16  남자  60-69세  2014    39.7
17  남자  70세 이상  2014    26.4
18  여자  19-29세  2014    39.5
19  여자  30-39세  2014    24.2
20  여자  40-49세  2014    21.8
21  여자  50-59세  2014    15.3
22  여자  60-69세  2014     6.1
23  여자  70세 이상  2014     2.7
24  남자  19-29세  2015    58.7
25  남자  30-39세  2015    64.1
26  남자  40-49세  2015    56.5
27  남자  50-59세  2015    51.3
28  남자  60-69세  2015    42.0
29  남자  70세 이상  2015    22.2
..  ..     ...   ...     ...
42  여자  19-29세  2016    45.7
43  여자  30-39세  2016    27.1
44  여자  40-49세  2016    23.0
45  여자  50-59세  2016    16.5
46  여자  60-69세  2016     7.4
47  여자  70세 이상  2016     1.0
48  남자  19-29세  2017    54.8
49  남자  30-39세  2017    57.9
50  남자  40-49세  2017    59.1
51  남자  50-59세  2017    52.5
52  남자  60-69세  2017    43.3
53  남자  70세 이상  2017    23.0
54  여자  19-29세  2017    45.9
55  여자  30-39세  2017    26.0
56  여자  40-49세  2017    22.8
57  여자  50-59세  2017    16.2
58  여자  60-69세  2017     9.6
59  여자  70세 이상  2017     2.0
60  남자  19-29세  2018    46.8
61  남자  30-39세  2018    55.9
62  남자  40-49세  2018    59.3
63  남자  50-59세  2018    51.5
64  남자  60-69세  2018    47.0
65  남자  70세 이상  2018    23.9
66  여자  19-29세  2018    49.8
67  여자  30-39세  2018    27.1
68  여자  40-49세  2018    26.0
69  여자  50-59세  2018    17.9
70  여자  60-69세  2018     8.5
71  여자  70세 이상  2018     1.0

[72 rows x 4 columns]

# 두번째 문제

In [25]:
import pandas as pd

data = pd.read_excel('/Users/wizdom/Desktop/옮길거/개발자/데분 스터디/Do it pandas/숙제/stat_427201.xls')
data

,통계표명:,연령집단별 사회적 고립도,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,단위:,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,- 갑자기 많은 돈을 빌릴 일이 생길 경우,NaN,NaN,- 몸이 아파 집안일을 부탁할 경우,NaN,NaN,- 낙심하거나 우울해서 이야기 상대가 필요한 경우,NaN,NaN
2,NaN,NaN,2015,2017.0,2019.0,2015,2017,2019,2015,2017.0,2019.0
3,전체,NaN,49.9,48.1,48.6,23.2,21.6,20.4,17.6,16.4,16.7
4,연령집단,13-18세,36.2,40.4,41.5,-,-,-,11.0,11.2,9.9
5,NaN,19-29세,38.5,34.8,37.4,17.4,15.3,14.1,11.2,10.9,10.7
6,NaN,30-39세,40.9,37.1,37.5,21.5,18.0,16.6,13.5,11.2,11.1
7,NaN,40-49세,49.6,46.1,43.4,23.8,22.3,20.7,16.8,15.1,15.1
8,NaN,50-59세,58.5,56.1,54.0,26.0,25.2,23.0,20.5,19.3,18.7
9,NaN,60세 이상,64.3,62.9,64.5,26.0,25.2,24.9,26.7,24.4,25.5
10,출처:,"통계청, 「사회조사」",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,"*자료 : 통계청, 「사회조사」 각 연도",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,주석:,"1) 사회적 고립도는 몸이 아파 집안일을 부탁해야 할 경우, 갑자기 많은 돈을 빌려...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,"2) 2009년의 경우 연령집단 13-18세는 15-19세이고, 19-29세는 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,3) 2011년 이후 ‘몸이 아파 집안일을 부탁할 경우’는 19세 이상 인구를 대상...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
data_1 = data.iloc[1:10, 1:]
data_2 = data_1.drop(3)
data_2

,연령집단별 사회적 고립도,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1,NaN,- 갑자기 많은 돈을 빌릴 일이 생길 경우,NaN,NaN,- 몸이 아파 집안일을 부탁할 경우,NaN,NaN,- 낙심하거나 우울해서 이야기 상대가 필요한 경우,NaN,NaN
2,NaN,2015,2017.0,2019.0,2015,2017,2019,2015,2017.0,2019.0
4,13-18세,36.2,40.4,41.5,-,-,-,11.0,11.2,9.9
5,19-29세,38.5,34.8,37.4,17.4,15.3,14.1,11.2,10.9,10.7
6,30-39세,40.9,37.1,37.5,21.5,18.0,16.6,13.5,11.2,11.1
7,40-49세,49.6,46.1,43.4,23.8,22.3,20.7,16.8,15.1,15.1
8,50-59세,58.5,56.1,54.0,26.0,25.2,23.0,20.5,19.3,18.7
9,60세 이상,64.3,62.9,64.5,26.0,25.2,24.9,26.7,24.4,25.5

In [27]:
data_3=data_2.ffill(axis=1)

In [76]:
data_4 = data_3.rename(columns=data_3.iloc[0])
data_5 = data_4.drop(data_4.index[0])
data_5

,NaN,- 갑자기 많은 돈을 빌릴 일이 생길 경우,- 갑자기 많은 돈을 빌릴 일이 생길 경우,- 갑자기 많은 돈을 빌릴 일이 생길 경우,- 몸이 아파 집안일을 부탁할 경우,- 몸이 아파 집안일을 부탁할 경우,- 몸이 아파 집안일을 부탁할 경우,- 낙심하거나 우울해서 이야기 상대가 필요한 경우,- 낙심하거나 우울해서 이야기 상대가 필요한 경우,- 낙심하거나 우울해서 이야기 상대가 필요한 경우
2,NaN,2015,2017,2019,2015,2017,2019,2015,2017,2019
4,13-18세,36.2,40.4,41.5,-,-,-,11.0,11.2,9.9
5,19-29세,38.5,34.8,37.4,17.4,15.3,14.1,11.2,10.9,10.7
6,30-39세,40.9,37.1,37.5,21.5,18.0,16.6,13.5,11.2,11.1
7,40-49세,49.6,46.1,43.4,23.8,22.3,20.7,16.8,15.1,15.1
8,50-59세,58.5,56.1,54,26.0,25.2,23.0,20.5,19.3,18.7
9,60세 이상,64.3,62.9,64.5,26.0,25.2,24.9,26.7,24.4,25.5

In [ ]:
data_6

In [53]:
#data_6 = pd.melt(data_5, id_vars=['연령'], var_name='케이스', value_name='사회적 고립도(%)')
#data_6

        연령                          케이스 사회적 고립도(%)
0      NaN      - 갑자기 많은 돈을 빌릴 일이 생길 경우       2015
1   13-18세      - 갑자기 많은 돈을 빌릴 일이 생길 경우       36.2
2   19-29세      - 갑자기 많은 돈을 빌릴 일이 생길 경우       38.5
3   30-39세      - 갑자기 많은 돈을 빌릴 일이 생길 경우       40.9
4   40-49세      - 갑자기 많은 돈을 빌릴 일이 생길 경우       49.6
..     ...                          ...        ...
58  19-29세  - 낙심하거나 우울해서 이야기 상대가 필요한 경우       10.7
59  30-39세  - 낙심하거나 우울해서 이야기 상대가 필요한 경우       11.1
60  40-49세  - 낙심하거나 우울해서 이야기 상대가 필요한 경우       15.1
61  50-59세  - 낙심하거나 우울해서 이야기 상대가 필요한 경우       18.7
62  60세 이상  - 낙심하거나 우울해서 이야기 상대가 필요한 경우       25.5

[63 rows x 3 columns]

In [ ]:
data_6 = pd.melt(data_5, id_vars=['연령'], var_name='케이스', value_name='사회적 고립도(%)')
data_6

In [75]:
import pandas as pd

data_7 = data_6.pivot_table(
    index = ['연령'],
    columns='케이스',
values='사회적 고립도(%)', 
aggfunc='first',
dropna=False)
data_7

케이스    - 갑자기 많은 돈을 빌릴 일이 생길 경우 - 낙심하거나 우울해서 이야기 상대가 필요한 경우 - 몸이 아파 집안일을 부탁할 경우
연령
13-18세                    36.2                        11.0                   -
19-29세                    38.5                        11.2                17.4
30-39세                    40.9                        13.5                21.5
40-49세                    49.6                        16.8                23.8
50-59세                    58.5                        20.5                26.0
60세 이상                    64.3                        26.7                26.0